
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <div style="width:1000px ; height:500px; padding:20px; background-color:white;  border-radius:5px;   margin: auto; margin-top:110px;">
        <h1 style="font-family:Arial; font-size:50px; font-style:normal;">Error</h1>      
        <br />
        <img src="~/Content/Images/error.png" style="width:100PX; margin: auto; display: block;" />
        <br />
        <p style="text-align:center; font-family:Arial; font-size:15px;"></p>
        <p style="text-align:center;font-family:Arial; font-size:15px;">If you wish to discuss this claim notification or any other claim please call our Brisbane CBD office (07) 3002 2200 </p>
    </div>
}

